AppForm/Connected Services/HisService/HisService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HospitalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HospitalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentsParentInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynScheduleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynScheduleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynScheduleInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynChangeScheduleStatusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynChangeScheduleStatusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynChangeScheduleStatusInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportPrintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_County">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_CountyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_CountyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_Province">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_ProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_ProvinceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_City">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_CityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_CityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_DeptCareProv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_DeptCareProvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_DeptCareProvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_CareProv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_CareProvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_CareProvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_Dept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_DeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_DeptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_Nation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CT_NationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CT_NationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCareProvImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCareProvImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCareProvImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>