AppForm/Connected Services/EquipmentService/EquipmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SynChangeScheduleStatusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RBASId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statuscode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynChangeScheduleStatusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynChangeScheduleStatusInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynScheduleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynScheduleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynScheduleInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HospitalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HospitalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentsParentInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfoNotWhere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsParentInfoNotWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentsParentInfoNotWhereResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryHYD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryHYDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryHYDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpecimenID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RISRExamID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PATPatientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportPrintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_County">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CountyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CountyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Province">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ProvinceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_City">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Nation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_NationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocterListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScheduleListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorListEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorListExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorListExResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptDoctorsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorReMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorReMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorReMarksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuperDeptFromDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuperDeptFromDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSuperDeptFromDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptListFromDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptListFromDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptListFromDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorFromDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="etime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorFromDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoctorFromDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDoctorSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RBASid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDoctorScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSingleDoctorScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryHYDFromPatientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PATPatientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryHYDFromPatientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryHYDFromPatientIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>